<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="1.1.17" targetFramework="net472" />
  <package id="AdamsLair.WinForms.PopupControl" version="1.0.1" targetFramework="net472" />
  <package id="FastTree" version="1.3.0.0" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="17.3.0.26" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="17.3.0.26" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="17.3.0.26" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.3.0.26" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="17.3.0.26" targetFramework="net472" />
</packages>